:root{ /*global HQ sa CSS. Magbutang ka og variables gamit --*/
    
    --primary-color: #78ebd4;
    --secondary-color: #641ca8; 
    --bg-color: #110f11;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*Ang goal ani is para clean and consistent ang layout across all browsers.and * mean select all elements as in tanan tags. AKA wildcard selector*/

body{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
}
.container{
    background-color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: -3px 2px 30px 10px rgba(193, 139, 244, 0.91);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;

}

/* start screen*/
#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* ensure it fills container width */
    text-align: center;
}
#start-screen h1{
    color: #6e0471;
    margin-bottom: 20px;
    font-size: 2.5rem;
}
#start-screen p{
    margin-bottom: 30px;
    font-size: 1.1rem;
    letter-spacing: 1.0px;
    line-height: 1.8;
}
.quiz-header{
    margin-bottom: 2rem;

}
#question-text{
    color: #000;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
    margin-bottom: 10px;
}
.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}
.answers-btn{
    background-color: #f8d9fb;
    color: #333;
    border: 2px solid #d66adf;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
    font-family: 'Press Start 2P', cursive;
}
.answers-btn:hover{
    background-color: #ffff;
    border-color: 2px solid #5ee6d6c8;
}
.answers-btn.correct{
    background-color: var(--secondary-color);
    border-color: #e2b2fa;
    color: var(--primary-color);
}
.answers-btn.incorrect{
    background-color: #e80707;
    border-color: #e2b2fa;
    color: #66f3fd;
}
.progress-bar{
    height: 10px;
    background-color: #b798d8;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}
.progress{
    height: 100%;
    background-color: #6e0471;
    width: 0%;
    transition: width 0.3s ease;
}


#result-screen h1{
    color: #6e0471;
    margin-bottom: 30px;
}
.result-info{
    background-color: #b798d8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}
#result-message{
    font-size: 1.5rem;
    font-weight: 600;
    color: #6e0471;
    line-height: 1.4;
}
button{
    background-color: #6e0471;
    color: white;
    border-color: white;
    border-radius: 10px;
    padding: 15px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#start-btn:hover{
    background-color: #3d0876;
}

#start-btn {
    width: 60px;          
    height: 60px;
    border-radius: 50%;    
    display: flex;         
    justify-content: center;
    align-items: center;
    background:#6e0471;  
    color: rgb(255, 255, 255);
    border: none;         
    cursor: pointer;
    transition: background 0.3s;
}

/*responsive design*/

@media (max-width: 500px){
     /*pag ma hit siyag 500px and below, e implement niya ni nga style*/
     .screen{
        padding: 1rem;
     }

     #start-screen h1{
        font-size: 2rem;
     }
     #question-text{
        font-size: 1.3rem;
     }
     .answer-btn{
        padding: 12px;
     }
     button{
        padding: 12px 25px;
        font-size: 1rem;
     }
     audio{
        display: none;
     }
}